/* GENERAL E INDEX */
html {
  font-size: 100%;
  font-family: 'Montserrat',sans-serif;
}
body {
  background-color: #141414;
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: #ffffff; /* rgb(238, 238, 238) */
}
header {
  position: sticky;
}
.container {
  text-align: center;
}
/* ESTILOS DE NAVBAR */
nav {
  background-color: #141414;
  position: absolute;
  top: 135px;
  margin-left: 197px;
  padding: 10px;
  width: 100vw;
  height: 40px;
  border-bottom: groove 1px;
  border-color: #c9ef73;
  text-align: justify;
}
nav .menu{
  list-style: none;
  padding: 10px;
  font-size: 0px;
  position: relative;
  overflow: hidden;
}
nav .menu li{
  display: inline-block;
  font-size: 16px;
  padding-right: 50px;
}
nav .menu li a{
  text-decoration: none;
  color: inherit;
  display: inline;
  padding: 10px;
}
nav .menu ul{
  position: absolute;
  display: none;
}
nav .menu ul li {
  position: relative;
  display: list-item;
}
/* LO QUE PASA CUANDO HAGO HOVER */
nav .menu .drpBtn:hover {
  padding: 0px;
  position: relative;
}
nav .menu li:hover .drop {
  color: #141414;
  background-color: #eeeeee;
  padding: 0px;
  margin: 0px;
  display: block;
  position: relative;
  right: 55px;
  top: 22px;
}
nav .menu li .drop li {
  display: table;
  text-align: justify;
  width: 198px;
  padding: 25px 15px;
  border: groove 1px;
  border-color: #eeeeee;
}
/* CUERPO PRINCIPAL INDEX */
h1,h2,.producto_h3 {
  color: #c9ef73; /* rgb(201, 239, 115) */
}
.productoMain {
  width: 480px;
  height: 320px;
}
.muestraProd article {
  display: inline-block;
  border-style: double;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
}
.muestraProd article a {
  text-decoration: none;
  color: inherit;
}
.producto_img {
  width: 210px;
  height: 140px;
}
table {
  position: relative;
  left: 350px;
  text-align: left;
}
th p{
  color: #c9ef73;
  font-weight:900;
}
/* FOOTER */
footer {
  position: relative;
  left: 160px;
}
div .line {
  padding-top: 50px;
  border-bottom-style: dotted;
  width: 1600px;
}
/* CONTACTO */
section#form {
  text-align: justify;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px;
  border-style: double;
  padding: 20px;
  padding-top: 10px;
  margin-top: 50px;
}
section#form h1{
  position: relative;
  bottom: 10px;
  text-align: center;
}
input#email {
  position: relative;
  left: 104px;
}
