/* GENERAL E INDEX */
html {
  font-size: 75%;
  font-family: 'Montserrat',sans-serif;
}

body {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 66px auto 100px;
  background-color: #141414;
  background-image: url("../img/background_end.jpg");
  background-size: 100% 100%;
  color: #ffffff; /* rgb(238, 238, 238) */
  height: 100vh;
  margin: 0 auto;
}

header {
  grid-area: header;
  position: sticky;
  z-index: 1000;
}

.logo {
  width: 66px;
  height: 66px;
  float: right;
}

.container {
  text-align: center;
  position: relative;
}

main {
  grid-area: main;
}

/* ESTILOS DE NAVBAR */
nav {
  position: absolute;
  background-image: linear-gradient(to bottom, #141414, #c9ef73 700%);
  width: 80vw;
  height: 30px;
  text-align: left;
  border-bottom: groove 1px;
  border-color: #c9ef73;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row nowrap;
  list-style: none;
  font-size: 0px;
  position: relative;
  overflow: hidden;
  padding-left: 0px;
}

.menu li{
  display: inline-block;
  font-size: 12px;
  margin: 0px;
  padding: 10px 0px;
}

.menu li a{
  text-decoration: none;
  color: inherit;
  display: inline;
}

.menu ul{
  display: none;
}

.menu ul li {
  position: relative;
  display: list-item;
}

/* LO QUE PASA CUANDO HAGO HOVER */
.menu .drpBtn {
  height: 30px;
  transition: height 1s;
}

.menu .drpBtn:hover {
  margin-right: -43px;
  padding-right: 0px;
  position: relative;
  width: 100px;
  height: 168px;
}

.menu .drpBtn:hover .drop {
  color: #141414;
  background-color: #eeeeee;
  display: block;
  position: relative;
  right: 55px;
  top: 7px;
  padding-left: 0px;
  width: 208px;
}

.menu li .drop li {
  display: table;
  text-align: justify;
  width: 198px;
  padding: 15px 5px;
  border-color: #eeeeee;
}

.menu li .drop li:hover {
  background-color: #dddddd;
}

/* CUERPO PRINCIPAL INDEX */
h1,h2,.producto_h3 {
  color: #c9ef73; /* rgb(201, 239, 115) */
}

.productoMain {
  width: 270px;
  height: 180px;
  border-radius: 10px;
}

.muestraProd {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.muestraProd article {
  border-style: double;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 80vw;
  transition: transform 1s;
}

.muestraProd article:hover {
  transform: scale(1.1, 1.1);
}

.muestraProd article a {
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 12px;
}

.productoImg {
  width: 210px;
  height: 140px;
  border-radius: 10px;
}

 /* TABLA Y IFRAME */
.table {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  position: relative;
  text-align: left;
}

th p{
  color: #c9ef73;
  font-weight:900;
}

iframe {
  width: 240px;
  height: 160px;
}

/* FOOTER */
footer {
  grid-area: footer;
  width: 80vw;
}

.line {
  padding-top: 15px;
  border-bottom: solid 1px;
  width: 100vw;
}

/* NUESTRAS BICICLETAS */
.bicProductos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.producto {
  width: 65vw;
  border: solid 1px;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  transition: transform 1s;
}

.producto:hover {
  transform: scale(1.1, 1.1);
}

.producto a {
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 13px;
}

/* PREGUNTAS FRECUENTES */
.pregFre {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.pregunta {
  padding: 15px;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 15px;
}

/* CONTACTO */
section#form {
  text-align: justify;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px;
  border-style: double;
  padding: 10px;
  margin-top: 50px;
  width: 80vw;
}

section#form h1{
  position: relative;
  bottom: 10px;
  text-align: center;
}

input#email {
  position: relative;
  left: 78px;
}

textarea {
  width: 280px;
}

/* MEDIA QUERY TABLET */
@media only screen and (min-width:768px)
{
  html {
    font-size: 100%;
  }

  body {
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 132px;
  }

  .logo {
    width: 132px;
    height: 132px;
  }

  /* ESTILOS DE NAVBAR */
  nav {
    height: 36px;
  }

  .menu .drpBtn:hover .drop {
    top: 10px;
  }

  .menu li{
    font-size: 14px;
    margin-right: -10px;
  }

  /* NUESTRAS BICICLETAS */
  .bicProductos {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .producto {
    width: 30vw;
  }

  /* CONTACTO */
  input#email {
    left: 104px;
  }

  textarea {
    width: 600px;
  }
}

/* MEDIA QUERY DESKTOP */
@media only screen and (min-width:1024px)
{

  body {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 200px auto 200px;
  }

  .logo {
    width: 198px;
    height: 198px;
    float: none;
  }
  /* ESTILOS DE NAVBAR */

  nav {
    top: 135px;
    padding: 10px;
    margin-left: 197px;
    width: 80vw;
    height: 40px;
  }

  .menu{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    font-size: 0px;
    position: relative;
    align-items: stretch;
  }

  .menu li{
    display: inline-block;
    font-size: 16px;
    padding: 0px 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .menu li a{
    padding: 10px;
  }

  /* LO QUE PASA CUANDO HAGO HOVER */

  .menu .drpBtn:hover {
    margin-right: -114px;
    padding-right: 0px;
    position: relative;
    width: 260px;
    height: 300px;
  }

  .menu .drpBtn:hover .drop {
    position: relative;
    right: 20px;
    top: 22px;
    padding-left: 0px;
    width: 230px;
  }

  .menu li .drop li {
    padding: 25px 15px;
    border: groove 1px;
    border-color: #eeeeee;
    width: 198px;
  }

  /* CUERPO PRINCIPAL INDEX */

  .productoMain {
    width: 480px;
    height: 320px;
  }

  .muestraProd {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .muestraProd article {
    padding: 30px;
    margin: 30px;
    width: 320px;
  }

  /* TABLA Y IFRAME */

  iframe {
    width: 480px;
    height: 320px;
  }

  /* FOOTER */

  footer {
    position: relative;
    left: 160px;
  }

  .line {
    padding-top: 50px;
    width: 1600px;
  }

  /* NUESTRAS BICICLETAS */

  .producto {
    width: 25vw;
  }

  /* PREGUNTAS FRECUENTES */

  .pregunta {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 15px;
  }

  /* CONTACTO */

  section#form {
    padding: 20px;
    padding-top: 10px;
    width: 60vw;
  }

  textarea {
    width: 800px;
  }
}
