@import "vars.scss";

// GENERAL
html {
  font-size: 75%;

  @media only screen and (min-width:768px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Montserrat',sans-serif;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 66px auto 100px;
  background-color: $off-white;
  background-size: 100% 300%;
  color: $shiny-black;
  height: 100vh;
  margin: 0 auto;

  @media only screen and (min-width:768px) {
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px auto 200px;
    background-size: 100% 250%;
  }

  @media only screen and (min-width:1024px) {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 120px auto 200px;
    background-size: 100% 200%;
  }
}

h3,h2,h1,.productos_h4,.producto_em {
  color: $sober-red;
}

.header {
  grid-area: header;
  position: sticky;
  z-index: 1000;

  &__nav {
    background-image: $light-gray;
    align-items: center;

    @media only screen and (min-width:1200px) {
      li.nav-item {
        padding: 0 50px;
      }
    }

    .navbar-brand img{
      @include size(115px, 30px);

      @media only screen and (min-width: 1024px){
        @include size(230px, 60px);
      }
    }

    .navbar-nav {
      width: 100%;
      justify-content: flex-end;

      @media only screen and (min-width:992px) {
        gap: 25px;
        margin-right: 100px;
      }
    }
  }
}

  // MAIN E INDEX
.main {
  text-align: center;
  grid-area: main;
  position: relative;
  margin-top: 40px;

  @media only screen and (min-width:768px) {
    margin-top: 0px;
  }

  &__h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  // INDEX

  &__muestraProd {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;

    @media only screen and (min-width:768px) {
      margin-bottom: -100px;
    }

    @media only screen and (min-width: 1024px) {
      height: 800px;
      margin-bottom: -150px;
    }
  }
  // PRODUCTO DESTACADO
  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;

    @media only screen and (min-width: 1024px) {
      margin-top: 40px;
    }
    .productoMain {
      align-self: center;
      @include size(270px, 180px);
      border-radius: 10px;

      @media only screen and (min-width: 1280px) {
        @include size(400px, 256px);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  // ERROR 404
  &__error {
    background-color: $off-white;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .errorImg {
      @include size(240px, 160px);

      @media only screen and (min-width:768px) {
        @include size(480px, 320px);
      }
    }

    .regreso {
      justify-content: center;
      position: relative;
      top: 10px;
    }
  }
}

  // TABLE Y IFRAME
.table {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__h2 {
    margin: 50px 0px 20px;
  }

  &__inner {
    border: solid 3px;
    position: relative;
    text-align: left;
    color: $shiny-black;
  }
  &__thp {
    text-align: center;
    color: $sober-red;
    font-weight:900;
  }
}

.video {

  &__iframe {
    @include size($iframe-w, $iframe-h);

    @media only screen and (min-width:768px) {
      @include size($iframe-w*2, $iframe-h*2);
    }
  }

  &__h3 {
    margin: 50px 0px 20px;

    @media only screen and (min-width: 1024px){
      margin: 70px 0px 30px;
    }
  }
}
// FIN MAIN

// FOOTER
.cierre {
  grid-area: footer;
  width: 80vw;
  position: relative;
  top: 50px;
  align-self: flex-start;
  padding-bottom: 20px;

  &__content {
    margin-top: 15px;
    line-height: 15px;
  }

  &__line {
    padding-top: 15px;
    border-bottom: solid 1px;
    width: 75vw;

    @media only screen and (min-width:768px) {
      padding-top: 50px;
    }
  }
}
