@import "vars.scss";

// GENERAL
html {
  font-size: 75%;

  @media only screen and (min-width:768px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Montserrat',sans-serif;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 66px auto 100px;
  background-color: $off-white;
  background-size: 100% 300%;
  color: $shiny-black;
  height: 100vh;
  margin: 0 auto;

  @media only screen and (min-width:768px) {
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px auto 200px;
    background-size: 100% 250%;
  }

  @media only screen and (min-width:1024px) {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 120px auto 200px;
    background-size: 100% 200%;
  }
}

h3,h2,h1,.productos_h4,.producto_em {
  color: $sober-red;
}

 // HEADER
.header {
  grid-area: header;
  position: sticky;
  z-index: 1000;

  &__nav {
    background-image: $light-gray;
    align-items: center;

    @media only screen and (min-width:1200px) {
      z-index: 900;
      li.nav-item {
        padding: 0 50px;
      }
    }

    .brandImg{
      @include size(130px, 30px);

      @media only screen and (min-width: 1024px){
        @include size(260px, 60px);
      }
    }

    .navbar-nav {
      width: 100%;
      justify-content: flex-end;

      @media only screen and (min-width:992px) {
        gap: 25px;
        margin-right: 100px;
      }
    }
  }
}
