@import "vars.scss";

  // MAIN E INDEX
.main {
  text-align: center;
  grid-area: main;
  position: relative;
  margin-top: 10px;

  @media only screen and (min-width:1024px) {
    margin-top: 50px;
  }

  &__h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  // INDEX

  &__muestraProd {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    margin-bottom: -100px;

    @media only screen and (min-width:768px) {
      margin-bottom: -180px;
    }

    @media only screen and (min-width: 1024px) {
      height: 800px;
      margin-bottom: -150px;
    }
  }

  // ERROR 404
  &__error {
    background-color: $off-white;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .errorImg {
      @include size(240px, 160px);

      @media only screen and (min-width:768px) {
        @include size(480px, 320px);
      }
    }

    .regreso {
      justify-content: center;
      position: relative;
      top: 10px;
    }
  }
}

  // TABLE Y IFRAME
.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px auto 40px;

  @media only screen and (min-width: 768px) {
    margin: 50px auto 40px;
  }

  @media only screen and (min-width: 1200px) {
    margin: 30px auto 20px;
  }



  &__inner {
    border: solid 3px;
    position: relative;
    text-align: left;
    color: $shiny-black;
  }
  &__thp {
    text-align: center;
    color: $sober-red;
    font-weight:900;
  }

  @media only screen and (max-width:767px) {
    td {
      padding: 5px;
    }
  }
}

.video {

  &__iframe {
    @include size($iframe-w, $iframe-h);

    @media only screen and (min-width:768px) {
      @include size($iframe-w*2, $iframe-h*2);
    }

    @media only screen and (min-width: 1024px) {
      @include size($iframe-w*3, $iframe-h*3);
      margin-bottom: 30px;
    }
  }

  &__h3 {
    margin: 50px 0px 20px;

    @media only screen and (min-width: 1024px){
      margin: 70px 0px 30px;
    }
  }
}
