
// COLOR
$off-white: #f6f6f6;
$shiny-black: #0a0a0a;
$light-gray: #ececec;
$light-gray-lg: linear-gradient(to bottom, #ececec 75%, #f6f6f6 100%);
$sober-red: #b54b4b;
$darker: #b3b3b3;
$box1-lg: linear-gradient(to left, #ececec 50%, #f6f6f6 100%);
$box2-lg: linear-gradient(to right, #ececec 50%, #f6f6f6 100%);

// SIZE
$carousel-hw: 300px;
$iframe-w: 240px;
$iframe-h: 160px;

// MIXINS
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
