@import "vars.scss";
@import "bootstrapMod.scss";

// MIXINS
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// GENERAL
html {
  font-size: 75%;

  @media only screen and (min-width:768px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Montserrat',sans-serif;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 66px auto 100px;
  background-color: $off-white;
  background-size: 100% 300%;
  color: $shiny-black; /* rgb(238, 238, 238) */
  height: 100vh;
  margin: 0 auto;

  @media only screen and (min-width:768px) {
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 132px auto 200px;
    background-size: 100% 250%;
  }

  @media only screen and (min-width:1024px) {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px auto 200px;
    background-size: 100% 200%;
  }
}

h3,h2,h1,.productos_h4,.producto_em {
  color: $sober-red; /* rgb(201, 239, 115) */
}

.header {
  grid-area: header;
  position: sticky;
  z-index: 1000;

  &__nav {
    background-color: $light-gray;

    @media only screen and (min-width:1024px) {
      z-index: 900;

      li.nav-item {
        padding: 0 50px;
      }
    }

    .navbar-nav {
      width: 100%;
      text-align: center;
      justify-content: flex-end;
      @media only screen and (min-width:992px) {
        gap: 25px;
        margin-right: 100px;
      }
    }
  }
}

  // MAIN
.main {
  text-align: center;
  grid-area: main;
  position: relative;
  top: 40px;

  @media only screen and (min-width:768px) {
    top: 0px;
  }

  &__h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  // INDEX

  &__muestraProd {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;

    @media only screen and (min-width:768px) {
      margin-bottom: -100px;
    }

    @media only screen and (min-width: 1024px) {
      height: 800px;
      margin-bottom: -150px;
    }
    // CAROUSEL
    .carousel {
      justify-content: center;
      @include size($carousel-hw, $carousel-hw);

      @media only screen and (min-width:768px) {
        @include size($carousel-hw*2, $carousel-hw*2);
      }

      @media only screen and (min-width:1024px) {
        @include size($carousel-hw*3, $carousel-hw*3);
      }
      &__arrow {
        bottom: 100px;

        @media only screen and (min-width:768px) {
          bottom: 182px;
        }

        @media only screen and (min-width:1024px) {
          bottom: 250px;
        }
      }
    }
  }
  // PRODUCTO DESTACADO
  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    text-decoration: none;

    .productoMain {
      align-self: center;
      @include size(270px, 180px);
      border-radius: 10px;

      @media only screen and (min-width: 1280px) {
        @include size(400px, 256px);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__error {
    background-color: $off-white;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .error_img {
      @include size(240px, 160px);

      @media only screen and (min-width:768px) {
        @include size(480px, 320px);
      }
    }

    .regreso {
      position: relative;
      top: 10px;
    }
  }
}

  // TABLE Y IFRAME
.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  &__inner {
    border: solid 3px;
    position: relative;
    text-align: left;
    color: $shiny-black;
  }
  &__thp {
    text-align: center;
    color: $sober-red;
    font-weight:900;
  }
}

iframe {
  @include size($iframe-w, $iframe-h);

  @media only screen and (min-width:768px) {
    @include size($iframe-w*2, $iframe-h*2);
  }
}
// FIN MAIN

// FOOTER
.footer {
  grid-area: footer;
  width: 80vw;

  @media only screen and (min-width:1024px) {
    position: relative;
    left: 160px;
  }
  &__line {
    padding-top: 15px;
    border-bottom: solid 1px;
    width: 100vw;

    @media only screen and (min-width:1024px) {
      padding-top: 50px;
      width: 1600px;
    }
  }
}

// NUESTRAS BICICLETAS
.bics {
  justify-items: center;

  &__inner {
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    @media only screen and (min-width:768px) {
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(3, 1fr);
    }

    @media only screen and (min-width:1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }


  &__producto {
    @include size(280px, 280px);
    border: solid 1px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    transition: transform 1s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width:768px) {
      @include size(270px, 370px);
    }

    @media only screen and (min-width:1024px) {
      @include size(20vw, 320px);
    }

    a{
      text-decoration: none;
      color: inherit;
      position: relative;
      top: 13px;
    }
  }

  &__producto:hover {
    transform: scale(1.1, 1.1);
  }

  &__productoImg {
    @include size(210px, 140px);
    border-radius: 10px;
  }

  &__productoEm {
    font-size: 1.25rem;
  }
}

// PREGUNTAS FRECUENTES
.pregs {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__inner {
    text-align: left;
  }

  &__pregunta {
    padding: 15px;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 15px;

    @media only screen and (min-width:1024px) {
      margin-left: 160px;
      margin-right: 160px;
      margin-top: 40px;
    }
  }
}


 // CONTACTO
.contacto {
  text-align: justify;
  line-height: 1.6;
  display: inline-block;
  border-radius: 5px;
  border-style: double;
  padding: 10px;
  margin-top: 50px;

  @media only screen and (min-width:1024px) {
    padding: 20px;
    padding-top: 10px;
    width: 1100px;
  }

  &__h1 {
    position: relative;
    bottom: 10px;
    text-align: center;
  }

  &__email {
    position: relative;
    left: 78px;

    @media only screen and (min-width:768px) {
      left: 104px;
    }
  }

  &__text {
    width: $textarea-w;

    @media only screen and (min-width:768px) {
      width: $textarea-w*2;
    }

    @media only screen and (min-width:1024px) {
      width: $textarea-w*3;
    }
  }
}
